/* Default state for the globe */
.globe {
    transition: transform 0.3s ease, opacity 0.3s ease; /* Optional: smooth transition */
  }
  
  /* Hide the globe on smaller screens */
  @media (max-width: 768px) {
    .globe {
      display: none; /* Hide the globe */
    }
  }
  
  /* Scale the globe for larger screens */
  @media (min-width: 769px) {
    .globe {
      transform: scale(0.8); /* Adjust scale */
      opacity: 1; /* Ensure it's visible */
    }
  }
  
  /* Reset scale for very large screens */
  @media (min-width: 1024px) {
    .globe {
      transform: scale(1); /* Full scale */
    }
  }



  /* styles.css or your relevant CSS file */
.background-pattern {
  background: 
    radial-gradient(circle, rgba(12, 9, 9, 0.1) 20%, transparent 20%),
    radial-gradient(circle, rgba(23, 16, 16, 0.1) 20%, transparent 20%),
    radial-gradient(circle, rgba(39, 23, 23, 0.1) 20%, transparent 20%);
  background-size: 60px 60px; /* Adjust size for spread */
  background-position: 50% -50%, 50% -30%, 50% -10%; /* Adjust to center */
  position: relative;
  z-index: 0; /* Ensure it's behind other elements */
}




/* From Uiverse.io by kandalgaonkarshubham */ 
.container {
  width: 100%;
  height: 100%;
  --s: 37px; /* control the size */

  --c: #0000, rgba(31, 41, 55, 0.65) 0.5deg 119.5deg, #0000 120deg;
  --g1: conic-gradient(from 60deg at 56.25% calc(425% / 6), var(--c));
  --g2: conic-gradient(from 180deg at 43.75% calc(425% / 6), var(--c));
  --g3: conic-gradient(from -60deg at 50% calc(175% / 12), var(--c));
  background: var(--g1), var(--g1) var(--s) calc(1.73 * var(--s)), var(--g2),
    var(--g2) var(--s) calc(1.73 * var(--s)), var(--g3) var(--s) 0,
    var(--g3) 0 calc(1.73 * var(--s)) #1e1e1e;
  background-size: calc(2 * var(--s)) calc(3.46 * var(--s));
}
